
<a href="/"><div id="div-logo"></div></a>
<div class="nav">
  <ul class="menu f5">
    <li><a href="/">Início</a></li>
    <li><a href="/acerca-do-mv">Acerca do MV</a></li>
    <li><a href="/manifesto">Manifesto</a></li>
  </ul>

  <p class="f4">Tópicos</p>
  <ul class="categories f5">
    {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <li><a href="/{{ category_name }}">{{ category_name }}</a></li>
    {% endfor %}
  </ul>
</div>
