---
layout: default
---

<div>
<article>
  <h1 class="navy mt0 mb2">{{ page.title }}</h1>
  <hr class="mt3 mb3">
  {% for post in site.categories[page.category] %}
    <article id="blog" class="f5">
      <a href="{{ post.url }}" class="navy">
        <h2 class="mt0 mb2">{{ post.title }}</h2>
      </a>
      <h3 class="mt0 mb2 gray i">{{ post.author }}</h3>
      <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
      [...]</p>
      <div class="tr">
        <a href="{{ post.url }}">Ler o resto do artigo &gt;</a>
      </div>
      <hr class="mt3 mb3">
    </article>
  {% endfor %}
</article>
</div>



